:global{
  .pgBtn {
    width: 1.7rem!important;
    min-width: 1.7rem!important;
    height: 1.7rem!important;
    margin:1.2rem!important;
    font-size: 16px!important;
    color: #53504F;
    box-shadow : none!important;
    line-height:1.7rem!important;
    font-size: 16px;
  }
  .svgIcon{
    margin:0.4rem;
  }
}

