
:global{
      .newOrderWidth{
        background-color: #F2F7FF;
        margin: 0 auto;
        display: inline-flex;
        flex-direction: row;
        flex-wrap:nowrap;
        justify-content:flex-start;
        height:44px;
        line-height:44px;
        text-align: left;
        width: 100%!important;
        position:relative;
        .orderBlank{
        display: none;
        }
        .outsideDiv{
        padding: 0 10%;
        }
        input:checked+div svg{
        fill:#00A0FF!important;
        }
        div svg{
        top: 0 !important;
        }
    }
}