:global{
  .addressWrapper.activeAddressWrapper{
    background: rgba(240,247,255,0.50);
    border: 1px solid #41A1FF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    p{
      color: #00A0FF;
    }
    .appbar{
      margin: 20px 0 20px 0;
    }
    .log__DZ{
      width:7rem;
    }

  }
  .lobName{
    display: flex;
    width:100%;
    background: #fdf7f2;
    border-radius: 2px;
    span{
      display: block;
      height: 44px;
      line-height: 44px;
    }
    span:nth-of-type(1){
      padding-left: 15px;
    }
    span:nth-of-type(2){
      padding-left: 55px;
      color:rgb(128,128,128);
  }
  }
  .distributtonOrder{
    .col-sm-12{
      margin: 10px 0;
    }
    div svg {
      top: 0!important;
    }
    .shopping-cart-collect-content{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      .shopping-cart-amount{
        width: 50%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        img{
          width: 30px;
          height: 28px;
        }
      }
      .shopping-cart-operation{
        width: 50%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
      }
      .orange-font{
        font-family: SourceHanSansCN-Medium;
        font-size: 14px;
        color: #ff9336;
      }
      .black-font{
        font-family: SourceHanSansCN-Medium;
        font-size: 14px;
        color: #4A4A4A;
      }
    }
  }
}
