:global{

  .warehouseGeneral_header{
    width: 100%;
    // border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: -1.1rem;
    .warehouseGeneral_header_warehousePath{
      width: 90%;
      flex-flow: row wrap;
      height: 100%;
      line-height: 5.4rem;
    }
    .warehouseGeneral_header_createWarehousebtn{
      float: right;
      height: 100%;
      width: 20%;
      margin-top: 1.4rem;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }
  .warehouseGeneral_storageWarehouse_bottom_forbid{
        display: flex;
        flex-direction: column;
        width: 7.5rem;
        height: 2.8rem;
        margin-left: 12.6rem;
        margin-top: 3rem;
  }
  .warehouseGeneral_warehouse{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2.1rem;
    box-shadow: 0 0 2px 0 #000019;
    margin-left: 2.1rem;
    width: 20rem;
    height: 20rem;
    .warehouseGeneral_warehouse_header{
      width: 20rem;
      height: 6.6rem;
      background: rgb(54, 67, 84);
      display: flex;
      flex-direction: row;
      .warehouseGeneral_warehouse_header_title{
        margin-left: 1.9rem;
        width: 10.3rem;
        font-size: 1.3rem;
        color: #fff;
        display: flex;
        align-items: center;
      }
      .warehouseGeneral_warehouse_header_WarehouseIcon{
        margin-left: 1rem;
        margin-top: 1.9rem;
      }
    }
    .warehouseGeneral_warehouse_bottom{
      width: 20rem;
      height: 7.4rem;
      background: #fff;
      
    }
    
    .warehouseGeneral_warehouse_bottom_forbid{
        display: flex;
        flex-direction: row;
        width: 7.5rem;
        height: 1.4rem;
        margin-left: 12.6rem;
        margin-top: 3.9rem;
    }
    .warehouseGeneral_warehouse_edit{
      margin-top: -27.5rem;
      margin-left: 14.6rem;
      width: 3.9rem;
      height: 4rem;
    }
  }
  .warehouseGeneral_locationStorage{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2.1rem;
    box-shadow: 0 0 2px 0 #000019;
    margin-left: 2.1rem;
    width: 20rem;
    height: 20rem;
    .warehouseGeneral_locationStorage_header{
      width: 20rem;
      height: 6.6rem;
      background: rgb(54, 67, 84);
      display: flex;
      flex-direction: row;
      .warehouseGeneral_locationStorage_header_title{
        margin-left: 1.9rem;
        margin-top: 1.9rem;
        width: 10.3rem;
        height: 3.4rem;
        font-size: 18px;
        color: rgb(255, 255, 255)
      }
      .warehouseGeneral_locationStorage_header_WarehouseIcon{
        margin-left: 1rem;
        margin-top: 1rem;
      }
    }
    .warehouseGeneral_locationStorage_bottom{
      width: 20rem;
      height: 7.4rem;
      background: #fff;
    }
    .warehouseGeneral_locationStorage_bottom_forbid{
        display: flex;
        flex-direction: row;
        width: 7.5rem;
        height: 1.4rem;
        margin-left: 12.6rem;
        margin-top: 3.9rem;
      }
    .warehouseGeneral_locationStorage_edit{
      margin-top: -27.5rem;
      margin-left: 14.6rem;
      width: 3.9rem;
      height: 4rem;
    }
  }

}
