:global{
  .OrderDetailsList{
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

    table tr:nth-child(2n+1) td{
      background-color:#fff!important;
    }
    table tr:nth-child(2n) td{
      background-color:rgba(207,228,255,0.3) !important;
    }
  }
}
