:global{
  .Tree{
    font-family: SourceHanSansCN-Regular!important;
    font-size: 16px!important;
    color: rgba(0,0,0,0.54)!important;
    //input[type=checkbox]+div svg{
    //  fill:rgba(151,151,151,1);
    //}
    //input[type=checkbox]:checked+div svg{
    //  fill:#00A0FF!important;
    //}
  }

}
