:global{
    .backTextArea{
      background: #fafafa;
      border: 1px solid #ececec;
      outline: none;
      height: 7.3rem;
      line-height: 1.8rem;
      resize: none;
      margin-top: 0.4rem;
      padding: 2px;
  }
}
