:global {
  .OrderDetailsList{
    .dcol{
      text-align: center !important;
      border:1px solid black;
    }
    .IdcolH{
      border:1px solid black;
      border-bottom:none;
      color: #000;
    }
    td{
      word-spacing:normal !important;
    }
  }

}

